[
  {
    "id": "1", # cada switch tem uma ID
    "name": "Nome-do-Switch",
    "host": "IP-do-Switch",
    "port": 22,
    "username": "Usuario-do-Switch",
    "password": "Senha-do-Usuario-do-Switch"
  }
]